PEERTO_BIND_ADDRESS=127.0.0.1
PEERTO_PORT=3000
ROOM_TTL_SECONDS=300
MAX_CODE_MEMBERS=64
MAX_PENDING_ROOMS=2000
MAX_CODE_RECORDS=5000
MAX_RATE_BUCKETS=50000
MAX_WS_CONNECTIONS=4000
TRUST_PROXY=true
STUN_URLS=stun:stun.chat.bilibili.com:3478,stun:stun.miwifi.com:3478,stun:stun.hitv.com:3478,stun:stun.cloudflare.com:3478,stun:stun.l.google.com:19302
MAX_FILE_BYTES=2147483648
